body {
  margin: 0px;
  padding: 0px;
  background-image: url('z6301.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 150px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  /* vertical-align: middle; */
  text-align: center;
  margin-inline: max(3rem, 20px);
}

.title h3 {
  letter-spacing: 1.5px;
  margin-top: 4%;
  margin-left: 3%;
  font-size: 1.6rem;
  border: 2px solid #464545;
  background-color: rgba(1, 97, 171, 1);
  color: #E5E5E5;
  padding: 1.5%;
  border-radius: 12px;
}

.content {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px 50px;
}

section {
  margin: 50px;
}

section p {
  font-weight: bolder;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

select {
  /* width: 20%; */
  height: 30px;
  padding: 0px 20px;
  border-radius: 7px;
  background-color: #686767;
  color: white;
}

.mode {
  margin-left: 60px
}

.send {
  float: right;
  margin: 10px 100px;
}

.send button {
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  background-color: #0161AB;
  color: #E7E9E8;
  font-weight: 700;
  border: none;
}

.button:active {
  background-color: #0161AB;
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0px;
    padding: 0px;
    background: none;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main select {
    width: 200px;
    margin: 20px;
  }

  .mode {
    margin: 20px 40px;
    width: 200px;
  }

  .title img {
    width: 15%;
    height: 15%;
  }

  .title {
    margin-top: 20px;
  }

  .title h3 {
    font-size: 60%;
    border-radius: 7px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    padding: 20px;
    margin: 20px;
  }

  .subcon {
    order: 2;
  }

  .content img {
    width: 70%;
    height: 70%;
    order: 1
  }

  .content:nth-child(1) {
    order: 2;
  }

  .content:nth-child(2) {
    order: 2;
  }

  .send {
    /* float: right;
    margin: -50px 50px 0px 0px;
    width: 200px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}
